[*.cs]
# SA1633: We don't need a C# code file is missing a standard file header.
dotnet_diagnostic.SA1633.severity = silent

# CS1591: XML comment documentation is horrible
dotnet_diagnostic.CS1591.severity = silent
dotnet_diagnostic.SA1600.severity = silent
dotnet_diagnostic.SA1601.severity = silent


# Treat all cs files in this folder as generated code
[**/obj/**/*.cs]
generated_code = true

